.img-logo{
    height: 75px;
    width: 75px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    margin: 0;
    padding: 0;
    background-color: #f2d0ad;
}
p{
    /* display: inline; */
    text-align: start;
    padding-left: 30px;
    font-size: 1em;
    padding-right: 30px;
}
nav {
    width: 30%;
 
}

.fixed-top{
    position: fixed;
}
.list-navegacion {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.borde {
    
    background-color: #f2d0ad;
       width: 100%;
       height: auto;
       border-style: solid;
       border-color: rgb(245, 146, 175);
       border-width: 1px;
       box-sizing: border-box;
    } 
a {
    text-decoration: none;
    text-transform: uppercase;  /*mayúsculas */
     text-shadow: 3px 5px 20px rgb(5, 5, 5); 
}

a:link {
    color: black;

}
a:visited{
    color: blue;
}
a:hover{
    color: #ffffff;
}
a:visited{
    color: gray;
}
.header {
    width: 100%;
    height: 1000px;
    background-color: #ffffff;
    padding-bottom: 60px;
    padding-top: 20px;
}

.container-header {
    width: 100%;
    margin-top: 100 px;
}


.flexbox-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
 /* TITULO */
.arcana-h1{
    font-family: 'Dancing Script', cursive;
    background-color: #f2d0ad;
    font-size: 2.5vw;
    text-align: center;
    color: #242121;
       height: auto;
       border-style: solid;
       border-color: #f2d0ad;
       /* border-width: 2px; */
       padding-top: 90px;
       width: auto;
       height: auto;
       
      
}
h1 {
    margin: 0%;
    
}


/* FIN DE HEADER Y H1 */


/* .arcana-bienvenida {
    font-size: 2vw;
    font-family: 'Dancing Script', cursive;
} */

/* FIN QUIENES SOMOS */

.seccion-info {
    background-color: #eedece;
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
}


h2{
    padding: 0px;
    margin: 0px;
    background-color: #eedece;
    text-align: center;
    text-decoration-line: underline;
    font-size: 30px;
    font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* h2:hover {
    cursor: pointer;
    
} */
.img-seccion{
    object-fit: cover;
    max-width: 100%;
    max-height: 200px;
    border-style: groove;
    border-radius:20px;
    border: 1.5px solid black;
    
}


.container-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


.container-img p{
    text-align: center;
}

.indumentaria-h2{
    padding-top: 50px;
}

.quienes-somos{
    background-color: rgb(238, 191, 136);
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-around;
    padding-top: 75px;
    padding-bottom: 200px;
}

.h2-quienes-somos{
    background-color: rgb(238, 191, 136);
}
.quienes-somos p {
   
    padding-bottom: 50px;
    font-size: 2VW;
    text-align: center;
    font-family: 'Arial Narrow', Arial, sans-serif;
   
}

/* .img-brasil-argentina{
    align-items: center;
    padding-top: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 5vw;
    height: 5vw;
    
} */

.arcana {
    font-family: 'Dancing Script', cursive;
}
 /* FOOTER */
footer {
    
    background-color: rgb(238, 191, 136);
    text-align: right;
}
.arcana-footer{
    font-size: 20px;
    color: rgb(7, 7, 7);
    font-family: 'Dancing Script', cursive;
    text-align: right;
}

.p-footer{
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-align: right;
    font-size: 80%;
}


@media (max-width: 770px){
    .img-brasil-argentina{
        align-items: center;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        width: 5vw;
        height: 5vw;
        border-radius: 60px;
        
    }
    
}

@media (max-width: 470px)
{
    .img-seccion{
        width: 50%;
        height: 50%;
        border-radius:20px;
        
    }
.seccion-info {
    background-color: #eedece;
    padding: 100px 0px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}
.p-footer{
    text-align: right;
    font-size: 50%;
}
}