
.img-logo{
    height: 100px;
    width: 100px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    margin: 0;
    padding: 0;
    background-color: #f2d0ad;
}
p{
    /* display: inline; */
    text-align: start;
    padding-left: 30px;
    font-size: 1em;
    padding-right: 30px;
}
nav {
    width: 30%;
 
}

.fixed-top{
    position: fixed;
}
.list-navegacion {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.borde {
    
    background-color: #f2d0ad;
       width: 100%;
       height: auto;
       border-style: solid;
       border-color: rgb(245, 146, 175);
       border-width: 1px;
       box-sizing: border-box;
    } 
a {
    text-decoration: none;
    text-transform: uppercase;  /*mayúsculas */
     text-shadow: 3px 5px 20px rgb(5, 5, 5); 
}

a:link {
    color: black;

}
a:visited{
    color: blue;
}
a:hover{
    color: #ffffff;
}
a:visited{
    color: gray;
}
.header {
    width: 100%;
    height: 1000px;
    background-color: #ffffff;
    padding-bottom: 60px;
    padding-top: 20px;
}

.container-header {
    width: 100%;
    margin-top: 100 px;
}


.flexbox-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
 /* TITULO */
.arcana-h1{
    font-family: 'Dancing Script', cursive;
    background-color: #f2d0ad;
    font-size: 5vw;
    text-align: center;
    color: #242121;
       height: auto;
       border-style: solid;
       border-color: #f2d0ad;
       /* border-width: 2px; */
       padding-top: 100px;
       width: auto;
       height: auto;
       
      
}
h1 {
    margin: 0%;
    
}


/* FIN DE HEADER Y H1 */

.quienes-somos{
    background-color: #eedece;
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-around;
    padding-top: 75px;
    padding-bottom: 100px;
}
.bienvenida {
    font-size: 100%;
    text-align: center;
}
/* FIN QUIENES SOMOS */

.seccion-info {
    background-color: #eedece;
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}


h2{
    padding: 0px;
    margin: 0px;
    background-color: #eedece;
    text-align: center;
    text-decoration-line: underline;
    font-size: 30px;
}
.img-seccion{
    width: 20%;
    height: 20%;
    border-radius:20px;
    
}
.img-brasil-argentina{
    width: 5vw;
    height: 5vw;
    border-radius:10px;
    
}




 /* FOOTER */
footer {
    text-align: right;
}
.arcana-footer{
    font-size: 20px;
    color: rgb(7, 7, 7);
    font-family: 'Dancing Script', cursive;
    text-align: right;
}

.p-footer{
    text-align: right;
    font-size: 80%;
}




@media (max-width: 470px)
{
    .img-seccion{
        width: 50%;
        height: 50%;
        border-radius:20px;
        
    }
.seccion-info {
    background-color: #eedece;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}
.p-footer{
    text-align: right;
    font-size: 50%;
}
}
